/UnitTesting/demo/.settings
/UnitTesting/demo/target
/UnitTesting/demo/.classpath
/UnitTesting/demo/.project

/UnitTesting/VSCodeJavaUnitTests/.settings
/UnitTesting/VSCodeJavaUnitTests/target
/UnitTesting/VSCodeJavaUnitTests/.classpath
/UnitTesting/VSCodeJavaUnitTests/.project



